.buzzmap .node {
  z-index: 100;
  cursor: default;
  display: block;

  background: #9c27b0;
  opacity: 0.9;
  color: white;
  font: 30px/34px Arial, sans-serif;
  font-size: 1em;
  text-align: center;

  padding: 0 7px;
  border: 2px dotted white;
  border-radius: 5px;
}
.buzzmap .node a {
  color: #fff;
}
.buzzmap .node.active {
  padding: 0.2em;
  font-size: 1.2em;
  border: 2px solid #ffeb3b;
  border-style: solid;
}
.buzzmap .node.active a {
  color: #fff;
}
.buzzmap .node.root {
  font-size: 1.2em;
}
